{{ $baseurl := .Site.BaseURL }}
{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="center">
    <div class="pagination">
        <div class="row">
{{ if $pag.HasPrev }}
<a class="prev page-numbers" href="{{ $baseurl }}{{ $pag.Prev.URL }}"><span class="glyphicon  glyphicon-chevron-left"></span></a>
{{ end }}
    <div class="pagination__page-numbers">{{ range $pag.Pagers }}{{ if eq . $pag }}<span class='page-numbers current'>{{ .PageNumber }}</span>{{ else }}<a class='page-numbers' href='{{ $baseurl }}{{ .URL }}'>{{ .PageNumber }}</a>{{ end }}{{ end }}</div>
{{ if $pag.HasNext }}
                <a class="next page-numbers" href="{{ $baseurl }}{{ $pag.Next.URL }}"><span class="glyphicon  glyphicon-chevron-right"></span></a>
{{ end }}
            </div>
        </div>
</nav>
{{ end }}